<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Dish name:</strong>
    <%= order.dish_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Delivery address:</strong>
    <%= order.delivery_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= order.status %>
  </p>

</div>
